<launch>

  <arg name="model" default="$(find ur5_with_rod)/urdf/ur5_with_rod.urdf"/>
  <arg name="gui" default="true" />
  <arg name="rvizconfig" default="$(find ur5_with_rod)/rviz/ur5_with_rod_config_1.rviz" />

  <param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" />
  <param name="use_gui" value="$(arg gui)"/>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
    <param name="use_gui" value="true"/>
  </node>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

  <node name="spawn_ur5_with_rod_urdf" pkg="gazebo_ros" type="spawn_model" output="screen"
        args="-urdf -param robot_description -model ur5_with_rod_model" />

</launch>
